@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400&display=swap");

body {
  margin: 0;
  color: white;
  font-family: "Geologica", sans-serif;
}

.container {
  position: relative;
  height: 250px;
  width: 300px;
  overflow: hidden;
  background-image: url("images/master.jpg");
  background-size: 300px 250px;
  background-repeat: no-repeat;
}

h2 {
  font-family: "Geologica", sans-serif;
  text-align: center;
  padding-left: 14px;
  font-weight: 400;
  font-size: 1.5rem;
}

.textarea {
  width: 85%;
  height: 90px;
  font-size: 1rem;
  margin: 0px 0px 4px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  letter-spacing: 0.05rem;
  font-family: "Geologica", sans-serif;
  border: 1px solid white;
}

#textarea::placeholder {
  color: white;
  font-family: "Geologica", sans-serif;
  font-weight: 300;
  border: none;
}

.counter-container {
  padding: 0px;
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

.counter-container p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  font-family: "Geologica", sans-serif;
  margin: 0px 0px 3px 0px;
}
