@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Geologica", sans-serif;
  margin: 0;
}

.container {
  position: relative;
  height: 250px;
  width: 300px;
  overflow: hidden;
  background-image: url("images/master.jpg");
  background-size: 300px 250px;
  background-repeat: no-repeat;
}

h1 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 1.15rem;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
  font-weight: 400;
}

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  margin: 1rem 1rem;
  width: 40px;
  color: white;
  font-weight: 400;
}

.countdown-el {
  text-align: center;
  color: white;
}

.countdown-el span {
  font-size: 1.3rem;
}
