@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.background {
  position: relative;
  height: 250px;
  width: 300px;
  background-color: #93c4ec;
  overflow: hidden;
}

.one {
  position: relative;
  height: 250px;
  width: 300px;
  background-color: #93c4ec;
}

.left {
  position: absolute;
  height: 250px;
  width: 300px;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
}

.right {
  position: absolute;
  height: 250px;
  width: 300px;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
}

.master {
  position: absolute;
  height: 250px;
  width: 300px;
  left: 0;
  top: 0;
  z-index: 200;
}

/* .start {
  position: absolute;
  background-color: #6cb4ee;
  height: 250px;
  width: 300px;
  left: 0;
  top: 0;
} */

.start_logo {
  position: absolute;
  width: 70%;
  top: 47px;
  left: 43px;
  opacity: 0;
}

.circle {
  width: 152px;
  height: 152px;
  background-color: white;
  border-radius: 50%;
  left: 23.5%;
  top: 22%;
  z-index: 20;
  position: absolute;
  opacity: 0;
}

.logo {
  position: absolute;
  left: 82px;
  top: 80px;
  width: 42%;
  z-index: 20;
}

.umbrella {
  position: absolute;
  left: 65px;
  top: 7px;
  width: 42%;
  z-index: 0;
}

.shell {
  position: absolute;
  left: 50px;
  top: 43px;
  width: 18%;
  z-index: 0;
}

.cocktail1 {
  position: absolute;
  left: 13px;
  top: 79px;
  width: 26%;
  z-index: 0;
}

.fries {
  position: absolute;
  left: 30px;
  top: 118px;
  width: 23%;
  z-index: 10;
}

.ball {
  position: absolute;
  left: 65px;
  top: 153px;
  width: 19%;
  z-index: 10;
}

.sandals {
  position: absolute;
  left: 95px;
  top: 178px;
  width: 22%;
  z-index: 10;
}

.chair {
  position: absolute;
  left: 148px;
  top: 144px;
  width: 38%;
  z-index: 30;
}

.ring {
  position: absolute;
  left: 200px;
  top: 113px;
  width: 27%;
  z-index: 10;
}

.burger {
  position: absolute;
  left: 210px;
  top: 78px;
  width: 20%;
  z-index: 5;
}

.lotion {
  position: absolute;
  left: 170px;
  top: 25px;
  width: 27%;
  z-index: 5;
}

.icecream {
  position: absolute;
  left: 175px;
  top: 11px;
  width: 13%;
  z-index: 5;
}

/* Code below for the button */

.btn {
  height: 30px;
  width: 60px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  left: 10px;
  z-index: 100;
  color: white;
  box-shadow: none;
  border: none;
  font-size: 15px;
  border: 1px solid black;
}

.btn:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

#pause {
  left: 10px;
  top: 260px;
}
